.logo {
  display: block;

  &__span {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  &__span--accent {
    color: $accent-color;
  }
  &__span--primary {
    color: $primary-text-color;
  }
}
